---
import { withBasePath } from '../../lib/paths';
import { SITE_ORIGIN } from '../../lib/site';

const blogPath = withBasePath('/blog/');
const canonicalUrl = new URL(blogPath, SITE_ORIGIN).toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${blogPath}`} />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={canonicalUrl} />
    <title>Redirecting to blog</title>
  </head>
  <body>
    <p>
      Redirecting to the blog.
      <a href={blogPath}>Continue</a>
    </p>
  </body>
</html>
